<h1>投稿一覧</h1>
<% @posts.each do |post| %>
 <div class="blog_wrapper">
     <div class="tweet_header">
        <div class="tweet_author-name" style="backgroud-color:pink">
              UFO
         </div>
        <div class="tweet_author-nickname">
          @ufo.com
        </div>
         <div class="tweet_post-time">
            <%= post.created_at.to_s(:datetime_jp) %>
         </div>
       </div>
       <div class = "tweet_content">
            <%= post.content %><br><br>
           <%= link_to '確認', post_path(post.id),class:"btn-default1" %>
       </div>
      </div>
    </div>
  </div>
 <% end %>
 
      
        